*.crx
node_modules
.cake_task_cache
*.iml
extension/dist
.idea
.env
yarn.error
existingExtensions
extension/bundle.js
dist
src/data/clubReport/
src/data/clubSummary/
src/data/err/
src/data/price/
src/data/rawClubSummary/
src/data/screenshots/
src/data/static/
debug
yarn-error.log
